.header {
  
  text-align: center;
  background: #DD873D;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 70px;
}

body {
  font-family: "Times New Roman", Times, serif;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

h2 {
    font-family: "Times New Roman", Times, serif;
}

p {
    font-size: 25px;
}

img {
    width: 100%;
    height: 300px;
}

div.a {
    text-align: center;
}

.navbar {
    background-color: #DD873D;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}